.media {
    padding: 10px;
    background: none;
}
.media:hover {
    border: 2px solid #007bff;
    border-radius: 5px;
}
.cart-head {
    margin-left: 200px;
    margin-right: 200px;
    height: 200px;
    padding-top: 100px;
}
.cart-head h2 {
    font-size: 52px;
}
.cart-list {
    margin: 10px 200px 200px 200px;
}
.spimg {
    height: 200px;
    width: 200px;
}
.media-body-left {
    height: 200px;
    width: 400px;
    position: absolute;
}
.media-body-right {
    height: 200px;
    width: 400px;
    float: right;
    text-align: right;
}
.media-body-right .media-body-right-bottom {
    padding-top: 100px;
}
.media-body h5 {
    font-size: 24px;
}
.media-body span {
    font-size: 18px;
}