.btn-primary {
    color: #FFFFFF !important;
    background-color: orange;
    border-color: orange;
}
.btn-primary:hover {
    background-color: orangered;
    border-color: orangered;
}
.page-item.active .page-link {
    background-color: orange;
    border-color: orange;
}
.page-item .page-link {
    color: orangered;
}
div.card h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
div.card p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}