.findmore {
    padding: 20px;
    text-align: right;
}
.findmore-text {
    font-size:24px;
}
.findmore-text:link {
    color: black;
    text-decoration: none;
}
.findmore-text:active {
    color: #4e555b;
}
.findmore-text:visited {
    color: darkblue;
    text-decoration: none;
}
.row {
    margin-bottom: 20px;
}