@charset "utf-8";

*{ margin:0px; padding:0px; }
a{text-decoration:none;}
.clear{ clear:both;}
ul,li,image,p,span,a{padding:0; margin:0; list-style:none; border:0;}
img {
	padding:0;
	border:0;
}
a {
	color:#000; text-decoration:none;
}
a:hover{
	text-decoration:none;
}
input,button,select,textarea{
	outline:none;
	border: none;
	background: none;
}

.showbot{float: left; margin-left: 110px;}
#showbox { background:#eee;}
#showbox img{ width:400px;height: 400px;}
#showbox span { background:url(../images/whitebg.png) repeat;}

.showall{
	width: 1240px;
	margin: 0 auto;
	margin-top: 15px;
}
.tb-property{
	width:530px;
	height: 520px;
	margin-left: 50px;
	float: left;
}
.extInfo{
	width:220px;
	height: 520px;
	float: right;
}
.tr-nobdr{
	margin-top: 20px;
	padding-bottom: 10px;
}
.tr-nobdr h3{
	color: #171717;
	font-size: 28px;
	font-weight:400;
}
.txt{
	width: 520px;
	margin-top: 15px;
	overflow: hidden;
	background: #f8f8f8;
}
.nowprice{
	display: block;
	line-height: 100px;
	color: #f73a3a;
	font-size: 24px;
	float: left;
}
.nowprice a{
	font-size: 36px;
	color: #f73a3a;
}
.nowprice a:hover{text-decoration: none;}
.cumulative{
	float: right;
	
}
.number{
	float: left;
	margin-top: 30px;
	padding: 0px 10px;
	border-right: #e7e7e7 solid 1px;
	font-size: 14px;
	text-align: center;
	color: #bfbfbf;
}
.number em{
	color: #5885c6;
	font-style:normal
}
.tyu{
	border: none;
}

.gcIpt{
	height: 70px;
}
.guT{
	color: #848484;
	font-size: 14px;
	padding-right:18px;
	line-height: 70px;
}
.gcIpt input{
	border: #e3e3e3 solid 1px;
	padding: 5px 8px;
	color: #848484;
	font-size: 16px;}
.nobdr-btns{
	padding-top: 25px;
}
.Hgt{ color: #424242; font-size:14px; padding-left: 10px;}
.addcart{
	background: #fd532d;
	padding: 0px 50px;
	border-radius: 4px;
	color: #FFFFFF;
	margin-right: 10px;
	font-size:16px;
	line-height: 50px;
}
.yh{ background: #e60013;}
.addcart img{vertical-align:middle;margin-bottom:3px;padding-right: 5px;}
.guarantee{
	height: 50px;
}
.guarantee span{
	color: #666666;
	font-size: 14px;
	line-height: 50px;}
.guarantee span a img{vertical-align:middle;margin-bottom:3px;}
.brand-logo{
	width:220px;
	height: 85px;
	border-top:#eeeeee solid 1px;
	border-bottom:#eeeeee solid 1px;
	text-align: center;
}
.brand-logo a img{
	margin-top: 10px;
}
.seller-pop-box{
	width:200px;
	overflow: hidden;
	padding:10px 0px 10px 20px;
}
/*   推荐搭配    */
.gdetail {
	width: 1240px;
	margin: 0 auto;
	clear: both;
}

.active_tab{
	width:1000px;
	margin:0 auto;
	margin-bottom: 20px;
	border-bottom:#e4393c solid 1px;
	height:37px;
	line-height:37px;
	background:#f7f7f7;	
}
.active_tab a{
	color:#666666;font-size: 14px;
	text-decoration:none;
}
.active_tab a:hover{
	color:#ffffff;
	text-decoration:none;
}
.act_title_left{
	float:left;
	width:70%;
}
.act_title_left li{
	float:left;
	width:150px;
	color:#666666;
	text-align:center;
	height:37px
}
.act_active{
	background:#e4393c;
	border-bottom:none !important;
	color: #ffffff;
}
.act_active a{color:#ffffff; font-size: 14px;}
.active_list{
	width:1000px;
	margin:0 auto;
}
.active_list a{text-decoration:none;}
#ui-a{width: 1000px;
	height: 100%;
	overflow: hidden;}
#ui-a ul{width:950px;
	margin: 0 auto;}
#ui-a ul li{
	width:950px;
	height: 100%;
	color: #424242;
	font-size: 14px;
	line-height: 2;
	overflow: hidden;
}	
#ui-a ul li img{
	width:950px;
	height: 100%;
	display: block;
}
.detail {
	margin: auto;
}

/* 隐藏评论区 */
.hide{display:none;}

/* 评论区 */
textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ced2db;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ced2db;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ced2db;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ced2db;
}
p {
    line-height: 1.3125rem;
}
.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}
.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}
.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}
.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}
.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
    width: 100%;
    max-width: 100%;
}
.comment-text {
    margin-bottom: 1.25rem;
}
.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}
.comment-date {
    float: left;
}
.comment-actions {
    float: right;
}
.comment-actions li {
    display: inline;
}
.comment-actions li.complain {
    padding-right: 0.625rem;
    border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
    padding-left: 0.625rem;
}