<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.DAO.SpecialtyMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Entity.Specialty">
        <result column="spID" property="spID" jdbcType="INTEGER"/>
        <result column="sID" property="sID" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="picUrl" property="picUrl" jdbcType="VARCHAR"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="sName" property="sName" jdbcType="VARCHAR"/>
        <result column="sPhone" property="sPhone" jdbcType="VARCHAR"/>
        <result column="sAddress" property="sAddress" jdbcType="VARCHAR"/>
        <result column="sales" property="salesVolume" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectSpecialty" resultMap="BaseResultMap">
        select spID, specialty.sID as sID, specialty.name as name,
        picUrl, stock, detail, category, price, seller.name as sName,
        seller.phone as sPhone, seller.address as sAddress
        from specialty, seller
        where specialty.sID = seller.sID and spID = #{specialty_id}  and specialty.isDeleted=0
    </select>

    <select id="selectSpecialtyByCategory" resultMap="BaseResultMap">
        select spID, specialty.sID as sID, specialty.name as name,
        picUrl, stock, detail, category, price, seller.name as sName,
        seller.phone as sPhone, seller.address as sAddress
        from specialty, seller
        where specialty.sID = seller.sID and category = #{category} and specialty.isDeleted=0
    </select>
    <select id="selectSpecialtyByPicUrl" resultType="INTEGER">
        select spID from specialty where picUrl = #{picUrl}
    </select>

    <select id="searchByKeyword" resultMap="BaseResultMap">
        select spID, specialty.sID as sID, specialty.name as name,
        picUrl, stock, detail, category, price, seller.name as sName,
        seller.phone as sPhone, seller.address as sAddress
        from specialty, seller
        where specialty.sID = seller.sID  and specialty.isDeleted=0 and ((category like #{keyword})
         or (specialty.name like #{keyword}) or (detail like #{keyword}) or (seller.name like #{keyword}))
    </select>

    <select id="selectSpecialtyBySid" resultMap="BaseResultMap">
        select spID, specialty.sID as sID, specialty.name as name,
        picUrl, stock, detail, category, price, seller.name as sName,
        seller.phone as sPhone, seller.address as sAddress
        from specialty, seller
        where specialty.sID = seller.sID and specialty.sID=#{sID} and specialty.isDeleted=0
    </select>

    <select id="createNewSpecialty">
        insert into specialty(sID, name, picUrl, stock, detail, category, price)
        values(#{sID}, #{name}, #{picUrl}, #{stock}, #{detail}, #{category}, #{price})
    </select>

    <select id="updateSpecialty">
        update specialty set name=#{name}, picUrl=#{picUrl}, stock=#{stock}, detail=#{detail}, category=#{category}, price=#{price}
        where spID=#{spID}
    </select>

    <select id="reduceStock">
        update specialty set stock = stock - #{count}
        where spID=#{spID}
    </select>

    <select id="deleteSpecialty">
        update specialty set isDeleted=1, stock=0
        where spID=#{spID}
    </select>

    <select id="specialtySaleRank" resultMap="BaseResultMap">
        select sp.spID as spID, sp.sID as sID, sp.name as name,
        picUrl, stock, detail, sp.category as category, sp.price as price, seller.name as sName,
        seller.phone as sPhone, seller.address as sAddress, sum(ordertable.count) as sales
        from specialty as sp, seller, ordertable
        where sp.sID = seller.sID and sp.spID=ordertable.spID
        group by sp.spID
        order by sales DESC
    </select>

</mapper>