<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.DAO.SpecialtyMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.Entity.Specialty">
        <result column="spID" property="spID" jdbcType="INT"/>
        <result column="sID" property="sID" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="picUrl" property="picUrl" jdbcType="VARCHAR"/>
        <result column="stock" property="stock" jdbcType="INT"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="sName" property="sName" jdbcType="VARCHAR"/>
        <result column="sPhone" property="sPhone" jdbcType="VARCHAR"/>
        <result column="sAddress" property="sAddress" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectSpecialty" resultMap="BaseResultMap">
        select * from specialty where spID = #{specialty_id}
    </select>


</mapper>